.cart-container {
  cursor: pointer;
  position: fixed;
  top: 66px;
  right: 0px;
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease, transform 0.3s ease;
  transform: translateY(-20px);
  max-height: 80%;
  overflow-y: auto;
  color: #293241;
}

.cart-container.show {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.cart_title{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cart_img {
  width: 70px;
}

.cart_btn {
  color:#989898 ;
   border: none;
  background-color: transparent;
  font-size: 1.4rem;
}

.cart_btn:hover{
   color: #293241;
}

.cart_prod{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5em 0;
}

.cart_prod-1 ,.cart_prod-2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cart_prod-2{
  gap: 10px;
  padding-left: 15px;
}

.cart_btn_container{
  display: flex;
  gap: 20px;
  align-items: center;
  padding-top: 2em;
}

.cart_btn_container > button {
  padding: .6em 1em;
  border: 1px solid #293241;
}

.empty{
  padding: 1.4em 0;
}

@media screen and ( max-width:700px ){
  .cart-container {
  cursor: pointer;
  position: fixed;
  top: 0px;
}
}

@media screen and (max-width:450px) {
  .cart_h3{
    font-size: 1rem;
  }

  .cart-font {
    font-size: .9rem;
  }

  .cart_btn_container > button {
    font-size: .7rem;
  }
}